<header class="jumbotron top-container">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-3 text-center">
        <img src="/assets/images/author.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Author photo" width="200" height="200">
      </div>
      <div class="col-xs-12 col-sm-5 v-align-item text-left">
        <h1>OptRoute</h1>
        <h2>Пошук оптимальних маршрутів на картах Google.</h2>
        <h3><i>Магістерська робота</i></h3>
      </div>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
         <img src="/assets/images/author.jpg" class="img-responsive img-circle author" style="display:inline" alt="Author photo" width="100" height="100">
      </div>
    </div>
  </div>
</header>

<div class="container bottom-container v-align-containter">
  <div class="row v-align-item">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <dl class="dl-horizontal">
        <dt>Автор</dt>
        <dd>
          Олексій Качинський, <br />
          студент групи ПМФ-62м, <br/>
          кафедри дискретного аналізу та інтелектуальних систем, <br/>
          ЛНУ. ім. І. Франка
        </dd>

        <dt>Науковий керівник</dt>
        <dd>проф. Щербина Юрій Миколайович</dd>

        <dt>Короткий опис</dt>
        <dd>Дана проект - це об’єднання різних веб технологій та математичних алгоритмів
          для роз’язання та візуалізації задачі комівояжера з використанням сервісу Google Maps.
        </dd>
      </dl>
    </div>
  </div>
</div>
