<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand hreflogo" href="#/">
				<img src="/assets/images/logo.png" height=35 width=35>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/">
						<span class="glyphicon glyphicon-home"></span>
						<span>Home</span></a>
				</li>
				<li>
					<a href="#/search">
						<span class="glyphicon glyphicon-search"></span>
						<span>Search route</span></a>
				</li>
				<li>
					<a href="#/about">
						<span class="glyphicon glyphicon-info-sign"></span>
						<span>About</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://github.com/okachynskyy/optroute" target="blank">
						<span class="fa fa-github"></span>
						<span>GitHub</span>
						<span class="glyphicon glyphicon-new-window"></span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
