.navbar-custom {
  background-color: #428bca;

  li a {
    color: #cdddeb;
    transition: all 150ms ease;

    &:hover {
      color: white;
      transform: translateY(-2px)
    }

    &.active {
      color: white;
      text-shadow: 2px 2px 12px #000000;
    }
  }

  .navbar-toggle {
    background-color: #ddd;
  }

  .navbar-collapse {
    border: none;
  }
}

.hreflogo {
  padding: 0px;
  padding-top: 8px;
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: central;
}
