<div class="jumbotron">
  <div class="row">
    <div class="col-sm-5 col-xs-12 text-center">
    <img src="/img/author.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="200" height="200">
   </div>
   <div class="col-sm-7 col-xs-12 text-center">
    <h1>OptRoute</h1>
    <h2>Пошук оптимальних маршрутів на картах Google.</h2>
    <h3><i>Курсова робота</i></h3>
   </div>
 </div>
</div>


<div class="container" style="max-width: 750px;">
  <div class="row">
    <div class="col-xs-12">
      <dl class="dl-horizontal">
        <dt>Автор</dt>
        <dd>
          Олексій Качинський, <br />
          студент групи ПМФ-52М, <br/>
          кафедри дискретного аналізу та інтелектуальних систем, <br/>
          ЛНУ. ім. І. Франка
        </dd>

        <dt>Науковий керівник</dt>
        <dd> <i>проф.</i> Щербина Юрій Миколайович</dd>

        <dt>Короткий опис</dt>
        <dd>Дана курсова робота - це об’єднання різних веб технологій та математичних алгоритмів
          для роз’язання та візуалізації задачі комівояжера на картах google maps.
        </dd>
      </dl>
    </div>
  </div>
</div>

<div class="container" style="max-width: 630px;">
  <div class="row text-center">
    <div>
      <div class="text-center"><h3>Використані технології:</h3></div>
      <br />
      <div class="col-xs-4">
        <img src="/img/logos/html5-logo.png" class="logos">
      </div>
      <div class="col-xs-4"> 
        <img src="/img/logos/css3-logo.png" class="logos">
      </div>
      <div class="col-xs-4"> 
        <img src="/img/logos/javascript-logo.png" class="logos">
      </div>
    </div>

    <div>
      <div class="col-xs-4">
        <img src="/img/logos/angularjs-logo.png" class="logos">
      </div>
      <div class="col-xs-4"> 
        <img src="/img/logos/bootstrap-logo.png" class="logos">
      </div>
      <div class="col-xs-4"> 
        <img src="/img/logos/google-maps-logo.jpg" class="logos">
      </div>
    </div>

    <div>
      <div class="col-xs-6">
        <img src="/img/logos/nodejs-logo.png" class="logos-horizontal">
      </div>
      <div class="col-xs-6"> 
        <img src="/img/logos/expressjs-logo.png" class="logos-horizontal">
      </div>
    </div>

    <div>
      <div class="col-xs-6">
        <img src="/img/logos/github-logo.png" class="logos-horizontal">
      </div>
      <div class="col-xs-6"> 
        <img src="/img/logos/heroku-logo.png" class="logos-horizontal">
      </div>
    </div>
  </div>
</div>
