<header class="jumbotron">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-md-9">
        <h1>OptRoute</h1>
        <p style="padding:5px;"></p>
        <p class="lead">Сервіс для пошуку оптимальних маршрутів на карті від Google.</p>
        <p><a href="#/search" class="btn btn-primary btn-lg">Let's find your route! &raquo;</a></p>
      </div>
      <div class="visible-md visible-lg col-md-3">
        <img src="/img/logo.png" class="img-responsive logo">
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-md-4 text-center">
    <h2>Задай напрямки</h2>
    <img class="img-block" src="/img/placeholder.png" /> <br />
    <p>
      Введи адреси, або клікай на карті в необхідних місцях для того, щоб додати точки до майбутнього маршруту.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <h2>Обери алгоритм</h2>
    <img class="img-block" src="/img/settings.png" /> <br />
    <p>Налаштуй оптимізатор обераючи різні алгоритми та обери найкращий для даного маршруту.</p>
  </div>
  <div class="col-md-4 text-center">
    <h2>Отримай маршут</h2>
    <img class="img-block" src="/img/medal.png" /> <br />
    <p>Отримай оптимальний та найкоротший маршрут для незабутніх подорожей.</p>
  </div>
</div>
