<br />
<div class="row">
  <div class="col-md-8 col-xs-12 map-height">
    <div id="map" style="width:100%; height:100%"></div>
  </div>
  <div class="col-md-4 col-xs-12" >
    <table class="table table-hover" id="address">
        <thead>
          <tr>
            <th class="text-center">Origin Addresses</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="adress in getAddresses()">
            <td>{{$index + 1}}. {{adress}}</td>
          </tr>
        </tbody>
    </table>
    <div ng-if="getAddresses().length == 0" class="text-center text-muted">
      <em>Addresses list is empty. Please, click on the map...</em>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div class="col-xs-12 col-md-8 text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-3 margin-bottom">
        <label for="mode">Type:</label>
        <select class="form-control" id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-4 margin-bottom">
        <button ng-click="testData1()" class="btn btn-default">Test 1</button>
        <button ng-click="testData2()" class="btn btn-default">Test 2</button>
        <button ng-click="testData3()" class="btn btn-default">Test 3</button>
      </div>
      <div class="col-xs-12 col-sm-5 margin-bottom">
        <button ng-click="calculateRoute()" class="btn btn-success">
        Calculate original Route</button>
        <button ng-click="clearMap()" class="btn btn-warning">Сlear All</button>
      </div>
    </div>
  </div>
</div>


<br />
<div class="row">
  <div class="col-xs-12 col-md-8 text-center">
    <hr />
    <h2>Optimisation</h2>
    <button ng-click="calculateMatrixDistances()" class="btn btn-success">Calculate Matrix Distances</button>
    <button ng-click="optimizeRoute()" class="btn btn-success">Nearest Neighbour</button>
    <button ng-click="findBFRoute()" class="btn btn-success">Brute Force</button>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-8">
    <table class="table table-hover text-center" ng-hide="getMatrixDistances().length==0">
      <caption class="text-center">Matrix Distances</caption>
      <tbody>
        <tr ng-repeat="row in getMatrixDistances()">
          <td ng-repeat="data in row">{{data}}</td>
        </tr>
      </tbody>
    </table>

<!--     <span>BF time {{getBFTime()}}</span> -->
  </div>
</div>
