<br />
<div class="row">
  <div class="col-md-8 col-xs-12 height440">
    <div id="map" style="width:100%; height:100%"></div>
  </div>
  <div class="col-md-4 col-xs-12" >
    <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">Addresses</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="adress in getAddresses()">
            <td>{{$index + 1}}. {{adress}}</td>
          </tr>
        </tbody>
    </table>
    <div ng-if="getAddresses().length == 0" class="text-center text-muted">
      <em>Addresses list is empty. Please, click on the map...</em>
    </div>
  </div>
</div>

<div class="row">
  <div col-xs-12>
    <br />
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="mode">Select trip type:</label>
        <select class="form-control" id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
        </select>
      </div>
      <div class="form-group">
        <button ng-click="testData1()" class="btn btn-default">Test Data 1</button>
        <button ng-click="testData2()" class="btn btn-default">Test Data 2</button>
        <button ng-click="testData3()" class="btn btn-default">Test Data 3</button>
        <button ng-click="clearMap()" class="btn btn-default">Сlear Map</button>
        <button ng-click="calculateRoute()" class="btn btn-default">calculateRoute</button>
        <button ng-click="calculateMatrixDistances()" class="btn btn-default">calculateMatrixDistances</button>
        <button ng-click="optimizeRoute()" class="btn btn-default">Nearest Neighbour</button>
        <button ng-click="findBFRoute()" class="btn btn-default">Brute Force</button>
      </div>
    </form>

    <table class="table table-hover text-center">
      <caption class="text-center">Matrix Distances</caption>
        <tbody>
          <tr ng-repeat="row in getMatrixDistances()">
            <td ng-repeat="data in row">{{data}}</td>
          </tr>
        </tbody>
    </table>

    <span>BF time {{getBFTime()}}</span>
  </div>
</div>
