<br />
<div class="row">
  <div class="col-md-8 col-xs-12 height400">
    <div id="map" style="width:100%; height:100%"></div>
  </div>
  <div class="col-md-4 col-xs-12 height400" >
    <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">Addresses</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="adress in getAddresses()">
            <td>{{adress}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div col-sm-12>
    <h3>Results...</h3>
    <button ng-click="clearMap()">clearMap</button>
  </div>
</div>
