body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hreflogo{
    padding: 0px;
    padding-top: 8px;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: central;
}

.img-block{
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
}

.row-header{
    vertical-align: middle;
}

.logo{
    padding: 15px;
}


.height440 {
    height: 440px;
}


.dl-horizontal dt {
  margin-bottom: 4px;
}
.dl-horizontal dd {
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  .dl-horizontal dt {
    float: left;
    width: 100px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
  }
  .dl-horizontal dd {
    margin-left: 120px;
    margin-bottom: 4px;
  }
}

@media (max-width: 349px) {
  .dl-horizontal dt {
    text-align: center;
  }
}

.logos {
  height: 90px;
  margin-bottom: 12px;
}

.logos-horizontal {
  width: 180px;
  margin-bottom: 8px;
}



table {
  width: 100%;
}
thead, tbody, tr, td, th { display: block; }
tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
tbody {
  max-height: 380px;
/*  height: 400px;*/
  overflow-y: auto;
}
