.gmap-container {
  height: 400px;
}

[class^="col-"],
[class*=" col-"] {
  padding: 0;
}

.map-points-table {
  .ui-datatable-emptymessage {
    text-align: center;
    font-style: italic;
    color: gray;
  }
}
