/* You can add global styles to this file, and also import other style files */
html,
body{
	height: 100%;
}

body {
  padding-top: 50px;
}

.v-align-containter {
	display: table;
	height: 100%;
}
.v-align-item {
	display: table-cell;
  vertical-align: middle;
	float: none;
}
